accelerate==1.10.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aiosignal==1.4.0
aistudio-sdk==0.3.8
annotated-types==0.7.0
anyio==4.11.0
astor==0.8.1
attrs==25.4.0
babel==2.17.0
bce-python-sdk==0.9.46
bert-score==0.3.13
bitsandbytes==0.48.1
blake3==1.0.7
blinker==1.9.0
blis==1.3.0
cachetools==6.2.0
catalogue==2.0.10
cbor2==5.7.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.0
cloudpathlib==0.23.0
cloudpickle==3.1.1
colorama==0.4.6
colorlog==6.10.1
compressed-tensors==0.11.0
confection==0.1.5
contourpy==1.3.3
cupy-cuda12x==13.6.0
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cut-cross-entropy==25.1.1
cycler==0.12.1
cymem==2.0.11
datasets==4.2.0
depyf==0.19.0
diffusers==0.35.1
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
einops==0.8.1
email-validator==2.3.0
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0-py3-none-any.whl#sha256=272a31e9d8530d1e075351d30a462d7e80e31da23574f1b274e200f3fff35bf5
evaluate==0.4.6
fastapi==0.118.3
fastapi-cli==0.0.13
fastapi-cloud-cli==0.3.1
fastrlock==0.8.3
filelock==3.20.0
flash_attn==2.8.3
Flask==3.1.2
flask-babel==4.0.0
fonttools==4.60.1
frozendict==2.4.6
frozenlist==1.8.0
fsspec==2025.9.0
future==1.0.0
gguf==0.17.1
gitdb==4.0.12
GitPython==3.1.45
h11==0.16.0
hf-xet==1.1.10
hf_transfer==0.1.9
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface-hub==0.35.3
idna==3.10
importlib_metadata==8.7.0
interegular==0.3.3
ipadic==1.0.0
itsdangerous==2.2.0
ja_core_news_trf @ https://github.com/explosion/spacy-models/releases/download/ja_core_news_trf-3.8.0/ja_core_news_trf-3.8.0-py3-none-any.whl#sha256=4c08436bb3b0792cd4fa3150b282a658ec66e2caf7a126901fc93c02afffa790
jieba==0.42.1
Jinja2==3.1.6
jiter==0.11.0
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
ko_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/ko_core_news_lg-3.8.0/ko_core_news_lg-3.8.0-py3-none-any.whl#sha256=f703b419511ebbbe2812728708fb2dac8a6ed767871a18e87e29ce9444ead3d3
langcodes==3.5.0
language_data==1.3.0
lark==1.2.2
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.11.3
lxml==6.0.2
marisa-trie==1.3.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mdurl==0.1.2
mecab-ko==1.0.1
mecab-ko-dic==1.0.0
mecab-python3==1.0.10
mistral_common==1.8.5
ml_dtypes==0.5.3
mpmath==1.3.0
msgpack==1.1.2
msgspec==0.19.0
multidict==6.7.0
multiprocess==0.70.18
murmurhash==1.0.13
networkx==3.5
ninja==1.13.0
nltk==3.9.2
numba==0.61.2
numpy==2.2.6
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
onnx==1.19.1
onnxoptimizer==0.3.13
openai==2.14.0
openai-harmony==0.0.4
opencv-python-headless==4.12.0.88
opt-einsum==3.3.0
outlines_core==0.2.11
packaging==25.0
paddle2onnx==2.0.1
paddlefsl==1.1.0
paddlenlp==2.8.1
paddlepaddle==3.2.0
pandas==2.3.3
partial-json-parser==0.2.1.1.post6
peft==0.17.1
pillow==11.3.0
platformdirs==4.5.0
polygraphy==0.49.26
portalocker==3.2.0
preshed==3.0.10
prettytable==3.16.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.23.1
propcache==0.4.1
protobuf==6.32.1
psutil==7.1.0
py-cpuinfo==9.0.0
pyarrow==21.0.0
pybase64==1.4.2
pybind11==3.0.1
pycountry==24.6.1
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.0
pydantic-extra-types==2.10.6
pydantic_core==2.41.1
Pygments==2.19.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==4.0.0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
rarfile==4.2
ray==2.49.2
referencing==0.36.2
regex==2025.9.18
requests==2.32.5
rich==14.2.0
rich-toolkit==0.15.1
rignore==0.7.0
rpds-py==0.27.1
sacrebleu==2.5.1
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.2
sentence-transformers==5.1.2
sentencepiece==0.2.1
sentry-sdk==2.41.0
seqeval==1.2.2
setproctitle==1.3.7
shellingham==1.5.4
shtab==1.7.2
six==1.17.0
smart_open==7.3.1
smmap==5.0.2
sniffio==1.3.1
soundfile==0.13.1
soxr==1.0.0
spacy==3.8.7
spacy-curated-transformers==0.3.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy_pkuseg==1.0.1
srsly==2.5.1
starlette==0.48.0
stopwordsiso==0.6.1
SudachiDict-core==20250825
SudachiPy==0.6.10
sympy==1.14.0
tabulate==0.9.0
thinc==8.3.6
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.1
tool_helpers==0.1.2
torch==2.8.0
torchao==0.14.0
torchaudio==2.8.0
torchvision==0.23.0
tqdm==4.67.1
transformers==4.56.2
triton==3.4.0
trl==0.26.1
typeguard==4.4.4
typer==0.19.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tyro==0.9.35
tzdata==2025.2
unsloth==2025.10.1
unsloth_zoo==2025.10.1
urllib3==2.5.0
uvicorn==0.37.0
uvloop==0.21.0
visualdl==2.5.3
vllm==0.11.0
wandb==0.22.2
wasabi==1.1.3
watchfiles==1.1.0
wcwidth==0.2.14
weasel==0.4.1
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.3
xformers==0.0.32.post1
xgrammar==0.1.25
xxhash==3.6.0
yarl==1.22.0
zh_core_web_trf @ https://github.com/explosion/spacy-models/releases/download/zh_core_web_trf-3.8.0/zh_core_web_trf-3.8.0-py3-none-any.whl#sha256=5c177a1df422ec114b2e83da8b8906cd44890ef27300e9014349dc6efc908c0a
zipp==3.23.0
